* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-navy: #020c1b;
  --navy: #0a192f;
  --light-navy: #112240;
  --lightest-navy: #233554;
  --navy-shadow: rgba(2,12,27,0.7);
  --dark-slate: #495670;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
}

body {
  background-color: var(--navy);
}

header {
  border: 3px solid red;
  width: 100%;
  height: 120px;
  display: flex;
}

.logo img {
  position: absolute;
  left: 50px;
  width: 100px;
}